<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="webjars/bootstrap/5.3.3/css/bootstrap.css" rel="stylesheet" />
    <script type="text/javascript" src="webjars/bootstrap/5.3.3/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="webjars/jquery/3.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="../../static/js/module.js" th:src="@{/js/prog.js}"></script>
    <meta charset="UTF-8">
    <meta name="_csrf" content="${_csrf.token}"/>
    <meta name="_csrf_header" content="${_csrf.headerName}"/>
    <title>Модули</title>
</head>
<body>
<div th:if="${message}"  class="alert alert-danger alert-dismissible fade show" role="alert" id="dangerAlert">
    Модуль с данным uuid уже существует.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<script>
    const alert = bootstrap.Alert.getOrCreateInstance('#myAlert')
    alert.close()
</script>
<div class="container">
    <table class="table table-bordered">
        <thead>
        <tr>
            <td>Идентификатор (UUID)</td>
            <td>Название</td>
            <td>Тип модуля</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each = "module:${modules}">
            <th th:text="${module.getUuid()}">Id</th>
            <td th:text="${module.getTitle()}">title</td>
            <td th:text="${module.getType()}">type</td>
            <td><a th:href="@{/module/{id}(id=${module.getUuid()})}" type="button" class="btn btn-info updateButton module" >Обновить</a></td>
            <td><a th:href="@{/module/delete/{id}(id=${module.getUuid()})}" type="button" class="btn btn-dark deleteButton">Удалить</a></td>
        </tr>
        </tbody>
    </table>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addModal" data-bs-whatever="@mdo">Добавить образовательную программу</button>
</div>



<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form th:action="@{/module}" class="needs-validation" method="post" novalidate>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Создание образовательной программы</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                </div>
                <div class="modal-body">

                    <div class="mb-3">
                        <label for="addId" class="col-form-label">Идентификатор (в формате UUID):</label>
                        <input type="text" class="form-control" id="addId" name="uuid"
                               pattern="[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}" required>
                        <div class="invalid-feedback">
                            Итендификатор должен соответстовать формату UUID (пример: 45f4b55c-5934-4409-92e2-a738fc9ffddc)
                        </div>

                    </div>
                    <div class="mb-3">
                        <label for="addName" class="col-form-label">Название:</label>
                        <input class="form-control" id="addName" name="title" minlength="3" maxlength="200" required>
                        <div class="invalid-feedback" >
                            Название должно содержать минимум 3 символа
                        </div>
                    </div>

                    <div class="form-group col-form-label">
                        <label for="addType">Тип модуля:</label>
                        <select class="form-control" id="addType" name="type">
                            <option th:each="type : ${moduleTypes}" th:value="${type}" th:text="${type}" name="type"></option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отменить</button>
                    <button type="submit" class="btn btn-primary">Добавить</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form th:action="@{/module/update}" th:method="post">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="updatedModalLabel">Редактирование образовательной программы</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="updateId" class="col-form-label">Идентификатор (в формате UUID):</label>
                        <input type="text" class="form-control" id="updateId" name="uuid" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="updateName" class="col-form-label">Название:</label>
                        <textarea class="form-control" id="updateName" name="title"></textarea>
                    </div>
                    <div class="form-group col-form-label">
                        <label for="typeId">Выберите руководителя</label>
                        <select class="form-control" id="typeId" name="type">
                            <option th:each="type : ${moduleTypes}" th:value="${type}" th:text="${type}" name="type"></option>
                        </select>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    <button id="update" type="submit" class="btn btn-primary">Сохранить</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal" id="deleteModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отменить</button>
                <a href="" id="deleteId" type="button" class="btn btn-danger">Удалить</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>